[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
openai = "*"
python-dotenv = "*"
jinja2 = "*"
flask = "*"
pyrss2gen = "*"
feedparser = "*"
certifi = "*"
cd = "*"
pyyaml = "*"
prompt-toolkit = "*"
pypodcastparser = "*"
werkzeug = "*"
exceptiongroup = "*"
zeroconf = "*"
waitress = "*"
validators = "*"
beartype = "*"
openai-whisper = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
Flask-APScheduler = "*"
ffmpeg-python = "*"
litellm = "*"

[dev-packages]
black = "*"
mypy = "*"
types-pyyaml = "*"
types-requests = "*"
types-waitress = "*"
pylint = "*"
pytest = "*"
dill = "*"
isort = "*"
types-flask-migrate = "*"
pytest-mock = "*"
watchdog = "*"
requests = "*"

[requires]
python_version = "3.11"
