[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pydub = "*"
openai = "*"
python-dotenv = "*"
jinja2 = "*"
flask = "*"
pyrss2gen = "*"
feedparser = "*"
certifi = "*"
cd = "*"
pyyaml = "*"
prompt-toolkit = "*"
pypodcastparser = "*"
werkzeug = "*"
exceptiongroup = "*"
zeroconf = "*"
waitress = "*"
validators = "*"
beartype = "*"

[dev-packages]
black = "*"
mypy = "*"
types-pyyaml = "*"
types-requests = "*"
types-waitress = "*"
pylint = "*"

[requires]
python_version = "3.11"
