<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.feed.title }} - {{ post.title }}</title>
</head>
<body>
    <a href="{{ url_for('main.index') }}">
        <img
            src="{{ url_for('static', filename='images/logos/logo_with_text.png') }}"
            alt="Podly Logo"
            style="width: 300px"
        />
    </a>
  
  <table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Feed Name</td>
            <td>{{ post.feed.title }}</td>
        </tr>
        <tr>
            <td>Feed ID</td>
            <td>{{ post.feed_id }}</td>
        </tr>
        <tr>
            <td>Post ID</td>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <td>guid</td>
            <td>{{ post.guid }}</td>
        </tr>
        <tr>
            <td>Upstream Download URL</td>
			<td><a href="{{ post.download_url }}" target="_blank">{{ post.download_url }}</a></td>
        </tr>
        <tr>
            <td>Podly Download URL</td>
			<td><a href="{{ url_for('main.download_post', p_guid=post.guid) }}" target="_blank">{{ url_for('main.download_post', p_guid=post.guid) }}</a></td>
        </tr>
        <tr>
            <td>title</td>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <td>unprocessed_audio_path</td>
            <td>{{ post.unprocessed_audio_path }}</td>
        </tr>
        <tr>
            <td>processed_audio_path</td>
            <td>{{ post.processed_audio_path }}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{{ clean_description | safe }}</td>
        </tr>
        <tr>
            <td>release_date</td>
            <td>{{ post.release_date }}</td>
        </tr>
		<tr>
			<td>Duration</td>
			<td>
			{% if post and post.duration is not none %}
				{% set hours = post.duration // 3600 %}
				{% set minutes = (post.duration % 3600) // 60 %}
				{% set seconds = post.duration % 60 %}

				{% if hours > 0 %}
					{{ hours }}h {{ minutes }}m {{ seconds }}s
				{% else %}
					{{ minutes }}m {{ seconds }}s
				{% endif %}
			{% else %}
				No duration available
			{% endif %}
			</td>
		</tr>
        <tr>
            <td>whitelisted</td>
            <td>{{ post.whitelisted }}
<button onclick="setWhitelist('{{ post.guid }}', {{ post.whitelisted | lower }})">
 Toggle Whitelist
</button>
			</td>
        </tr>
        <tr>
            <td>Transcript</td>
			<td>
				<style>
					.transcript p {
						margin: 5px 0;
					}
				</style>
				<div class="transcript">
					{% if post.transcript %}
						{{ post.transcript.render_segments_as_html() | safe }}
					{% else %}
						None
					{% endif %}
				</div>
			</td>
        </tr>
    </tbody>
</table>
<script>
      function setWhitelist(postGuid, old_val) {
        console.log("set whitelist for post: " + postGuid + " to: " + !old_val);
        const url = "{{ url_for('main.set_whitelist', p_guid='0', val=False)}}"
          .replace("0", postGuid)
          .replace("/False", "/" + !old_val);
        fetch(url)
          .then((_) => window.location.reload())
          .catch((error) => console.error("Error:", error));
      }
</script>

</body>
</html>
