





<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>feed_id</td>
            <td>{{ post.feed_id }}</td>
        </tr>
        <tr>
            <td>id</td>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <td>guid</td>
            <td>{{ post.guid }}</td>
        </tr>
        <tr>
            <td>Upstream Download URL</td>
			<td><a href="{{ post.download_url }}" target="_blank">{{ post.download_url }}</a></td>
        </tr>
        <tr>
            <td>title</td>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <td>unprocessed_audio_path</td>
            <td>{{ post.unprocessed_audio_path }}</td>
        </tr>
        <tr>
            <td>processed_audio_path</td>
            <td>{{ post.processed_audio_path }}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{{ post.description }}</td>
        </tr>
        <tr>
            <td>release_date</td>
            <td>{{ post.release_date }}</td>
        </tr>
        <tr>
            <td>duration</td>
            <td>{{ post.duration }}</td>
        </tr>
        <tr>
            <td>whitelisted</td>
            <td>{{ post.whitelisted }}</td>
        </tr>
        <tr>
            <td>transcript</td>
            <td>{{ post.transcript }}</td>
        </tr>
    </tbody>
</table>
