llm_api_key: sk-proj-XXXXXXXXXXXXXXXXXXXXXXXX
llm_model: anthropic/claude-3-5-sonnet-20240620


number_of_episodes_to_whitelist_from_archive_of_new_feed: 1

processing:
  system_prompt_path: config/system_prompt.txt
  user_prompt_template_path: config/user_prompt.jinja
  num_segments_to_input_to_prompt: 30

output:
  fade_ms: 3000
  min_ad_segement_separation_seconds: 60
  min_ad_segment_length_seconds: 14
  min_confidence: 0.8


whisper:
  whisper_type: remote
  model: whisper-2
  base_url: http://localhost/v99
  api_key: this_is_fake
