name: Python Linting, Formatting, and Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-format-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install ffmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies
        run: pipenv install --dev

      - name: Install dependencies for mypy
        run: pipenv run mypy --install-types

      - name: Run mypy
        run: >
          pipenv run mypy .
          --exclude 'migrations'
          --exclude 'build'
          --exclude 'scripts'
          --exclude 'src/tests'
          --exclude 'src/tests/test_routes.py'
          --exclude 'src/app/routes.py'

      - name: Run pylint
        run: pipenv run pylint .

      - name: Run black
        run: pipenv run black --check .

      - name: Run isort
        run: pipenv run isort --check-only .

      - name: Run pytest
        run: pipenv run pytest
